<p id="console">
</p>
<div id="overlay" class="jumbotron text-center">
  <div id="text" class="container">
    <a href="/" class="lang-logo">
      <img src="<%= asset_path('logo.png') %>">
    </a>
    <h1>Git Good</h1>
    <p>Console-based application to improve your Git skills and have fun doing it. The only way to get good at Git.</p>
    <a type="button" class="btn btn-lg btn-default" href="/git-good-app-0.1.app.zip"><span class="glyphicon glyphicon-flash"></span> Download</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/cashc/Git-Good"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
  <footer>
    <div class="text-center">
      <ul>
        <li>
          <span class="glyphicon glyphicon-copyright-mark"></span> 2017
        </li>
      </ul>
    </div>
  </footer>
</div>
