// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.commits {
  list-style-type: none;
  margin: 0 0 30px 0;
  padding: 0;
}

ul.commits > li > .msg {
  font: 12px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}