<% require 'httparty'

   url = 'https://api.github.com/repos/ryryqtpi/Git-Good-App/contributors'
   response = HTTParty.get(url)
   app = response.parsed_response

   html = ''
   app.map{|collaborator| html += '<li><a class="contributors" href="'+collaborator['html_url']+'"> ' + '<img class="avatar" alt="github avatar" src="' + collaborator['avatar_url'] +
       '">'+collaborator['login']+'</a></li>'}


%>

<%= html.html_safe %>
